.IconButton {
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 0;
    border: none;
    outline: 1px solid transparent;
  
    background-color: transparent;
  
    cursor: pointer;
  
  }